<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="login.css" rel="stylesheet" type="text/css" />
    <title>sign</title>
  </head>
  <body
    background="https://media.istockphoto.com/vectors/icy-blue-green-geometric-gradient-background-vector-id523037511?k=6&m=523037511&s=170667a&w=0&h=0VrgGp-9Bv4QKetFf5y6dM7D5C_sYUUUO-74dD-oPeY= "
  >
    <br /><br /><br /><br /><br /><br />
    <div class="log">
      <form>
        <center><h1>LOG IN</h1></center>
        <center>
          <img
            class="resize"
            src="https://i.ya-webdesign.com/images/vector-contact-circle-1.png"
          />
        </center>
        <h3>EMAIL</h3>
        <input type="email" name="email" placeholder="email" /><br /><br />
        <h3>PASSWORD</h3>
        <input type="password" name="password" placeholder="password" />
        <br />
        <br />
        <a href="#"
          ><button class="btn"><b>LOG IN</b></button></a
        >
        <div>
          <p>Don't have account?<a href="#">SIGNUP</a></p>
        </div>
      </form>
    </div>
    s
  </body>
</html>
